* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-hover {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 0.5rem;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.btn-color {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    /* box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
}

.slide-left {
    -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-20rem);
        transform: translateX(-20rem);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-20rem);
        transform: translateX(-20rem);
    }
}

#ContTruth {
}

#ContTruthTable {
    max-height: 20rem;
    overflow-x: auto;
}

#tableTarget {
    width: 90%;
}
